* {
    padding:0;
    margin:0;

}
html, body {
    height: 100%;
}
body {
    background: wheat;
}
html {
    font-family: sans-serif;
}

.techblogdiv {
    width: 7%;
    display: inline-block;
    text-align: center;
    background: aqua;
    height: 100%;
    margin-left: 10%;
    color: royalblue;


}
.listdiv {
    width: 40%;
    display: inline-block;
    margin-left: 12%;

}
nav {
    height: 50px;
    background: white;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    line-height: 50px;

}
.navigation-list-item {
    display: inline-block;
    padding-right: 10px;
}
header {
    height: 20%;
    text-align: center;
    margin:auto;
    padding-top: 50px;
    background: yellow url(Rectangle7.png);
    color: white;
}
header p {
    margin: 20px;
}
main {
    height: 120%;
    text-align: center;
    padding-top: 20px;
    background: #F5F5F7;
}
main h2 {
    font-weight: bold;

}
article {
    height: 400px;
    width: 250px;
    overflow: hidden;
}
.articleDiv {
    height: 50%;
    width: 100%;
    background: #C7B8FF;
}
article {
    background: white;
    margin: 20px;
    display: inline-block;
}
.article-p {
    width: 100%;
    margin: 0;
    padding: 0;
}
.date {
    float: left;
    padding-left: 3px;
}

.author {
    padding-right: 20px;
    float: right;
}
.articleText {
    text-align: left;
    padding-left: 13px;
    padding-top: 5px;
    font-size: 13px ;
    width: 90%;
}
.articleHeadline {
    text-align: left;
    width: 90%;
    padding-top: 25px;
    padding-left: 13px;
}
footer {
    height: 40%;
    background: #252424;
    color: #A1A1A6
}
.footer-headline {
    color: white;

}
section {
    display: inline-block;

}
.left-side {
    width: 20%;
    margin-left: 250px;
    margin-top: 50px;
}
.right-side {
    width: 30%;
    vertical-align: top;
    margin-left: 100px;
    margin-top: 32px;
}
.side-children {
    padding-top: 12px;
}
.text {
    padding-top: 10px;
    padding-bottom: 30px;
}
.footer {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #020202;
    text-align: center;
}
.address {
    padding-bottom: 20px;
}
